.content {
    background: gray;
    width: 100%;
    height: 90%;
    display: flex;
    overflow: hidden;
}

.chats {
    overflow-y: auto;
    width: 20%;
    background-color: rgb(231, 228, 228);
}

.currentChatArea {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #E2D9D0;
    font-size: calc(10px + 2vmin);
}

.currentChatArea>div:first-child {
    overflow-y: auto;
    flex-grow: 1;
}

.currentChatArea>div:first-child>div:first-child {
    margin-top: 30px;
    box-sizing: border-box;
}

.currentChatArea>div:first-child>div:last-child {
    margin-bottom: 20px;
    box-sizing: border-box;
}